@{
    ViewBag.Title = "Placements";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Use your layout if any
}

<style>
    body {
        background-color: #1A2041;
        color: white;
        font-family: sans-serif;
    }

   

    

    .card {
        background-color:black;
        color:white;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
        margin-bottom: 30px;
    }

    .placement-img {
        width: 180px;
        margin: 0 auto;
    }

    .card h5, .card h6 {
        font-family: sans-serif;
        font-weight: bold;
    }

    .placement-grid {
        padding-left: 25px;
        padding-right: 25px;
    }


    .divider-yellow {
        border: 2px solid #ffcc00;
        height: 3px;
        background-color: #ffcc00;
        box-shadow: 0px 2px 4px rgba(255, 204, 0, 0.6);
        width: 100vw;
        margin-left: calc(-50vw + 50%);
        margin: 0;
    }
</style>

<hr class="divider-yellow">
<div style="padding: 0px 0px; text-align: center;">
    <h2 style="background-color:#000028;color: #FFC300; text-align: center; font-size: 30px; font-weight: bold;">Recent Placements at SCOPE INDIA</h2>
</div>
<hr class="divider-yellow">


<!-- Subtitle -->
<div style="background-color: #2f2f2f; padding: 20px 10px; width: 100vw; margin-left: calc(-50vw + 50%);">
    <h1 class="text-center text-white mb-2">Center for Software, Networking, & Cloud Education</h1>
    <p class="text-center text-white font-size:16px mb-0">
        One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience.
        Over 1,000 students find their dream careers each year and we have assisted more than 15,000 students so far.
    </p>
</div>
<hr class="divider-white">

<div class="container-fluid placement-grid">
    <div class="row">
        @{
            var placements = new List<dynamic> {
        new { Name = "Rajesh S Anand", Role = "Digital Marketing Executive", Company = "Pharmayush Healthcare, Trivandrum" },
        new { Name = "Karthik L", Role = "Digital Marketing Executive", Company = "Bramma IT Solutions, Infopark Kochi" },
        new { Name = "Abin D", Role = "Junior Developer", Company = "Repute Infotech & Enterprises, Chennai" },
        new { Name = "Sree Manoj", Role = "Flutter Developer Executive", Company = "Tech4lyf, Chennai" },
        new { Name = "Belgin Kisho", Role = "Technical Support", Company = "VimpTech, Infopark Kochi" },
        new { Name = "Abhijith Sajju", Role = "Flutter Developer", Company = "GOBBOG Technologies, Tamilnadu" },
        new { Name = "Kavin Retra S N", Role = "Python Developer", Company = "Coolgn Solutions, Marthadom" },
        new { Name = "Jithinkrishna G", Role = "Software Tester", Company = "Kritilims IT Solutions, Trivandrum" },
        new { Name = "Monisha M", Role = "Web Application Developer", Company = "GOBBOG Technologies, Tamilnadu" },
        new { Name = "Jeffy L Ashok", Role = "Flutter Developer", Company = "SART Group of Companies, Tamilnadu" },
        new { Name = "Adrian P", Role = "Junior Software Developer", Company = "ETask Pro, Calicut" },
        new { Name = "Moniha J G", Role = "Software Engineer", Company = "Socius Innovative Global Brains, Trivandrum" },
        new { Name = "Karthika KS", Role = "Software Engineer", Company = "Akshara Software, Nagercoil" },
        new { Name = "Akhil Chandran", Role = "Software Developer", Company = "zDistanceLab, Trivandrum" },
        new { Name = "Jenifer", Role = "Java Developer", Company = "Feather Softwares, Nagercoil" },
        new { Name = "Akshai J G", Role = "Digital Marketing Executive", Company = "Trainonex Solutions, Technopark" },
        new { Name = "Jaswanth M", Role = "Digital Operation Platform Associate", Company = "Wipro, Kochi" },
        new { Name = "Aman Faizal", Role = "System Administrator", Company = "Cygnoz Software, Kochi" },
        new { Name = "Ragasutha", Role = "Quality Testing Trainee", Company = "Dhina Technologies, Tamilnadu" },
        new { Name = "Fathima Beevi N", Role = "Software Engineer", Company = "Socius Innovative Global Brains, Trivandrum" },
        new { Name = "Aakash Lavan W", Role = "Network Planner", Company = "Tech Mahindra, Chennai" },
        new { Name = "Shine S", Role = "Web Developer", Company = "VR Digitals LLC, Kochi" },
        new { Name = "Benisam Prakash", Role = "Software Tester", Company = "Cleareye.ai, Trivandrum" },
        new { Name = "Rajesh R", Role = "Software Developer", Company = "Bigfast Technology, UK" },
        };

            foreach (var p in placements)
            {
                <div class="col-md-3">
                    <div class="card text-center p-3">
                        <img src="~/person.png" class="img-fluid placement-img" alt="@p.Name" />
                        <h5 class="mt-3">@p.Name</h5>
                        <h6>@p.Role</h6>
                        <h6 style="font-weight: normal;">@p.Company</h6>
                    </div>
                </div>
            }
        }
    </div>
</div>
